@import "tailwindcss";

:root {
  --color-primary: #f97316; /* orange-500 */
  --color-primary-hover: #ea580c; /* orange-600 */
  --color-secondary: #fbbf24; /* yellow-400 */
  --color-secondary-hover: #f59e0b; /* yellow-500 */
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-muted: #6b7280;
  --color-muted-foreground: #9ca3af;
  --color-border: #e5e7eb;
  --color-ring: #f97316;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-border: var(--color-border);
  --color-ring: var(--color-ring);
  
  --font-family-sans: var(--font-iranYekan);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-iranYekan);
  min-height: 100vh;
  user-select: none;
  scrollbar-width: thin;
}